!!! 5
html(lang="en")
  head

    link(rel='stylesheet', href='/css/ui-smoothness-custom/jquery-ui-1.8.22.custom.css')
    script(src='/js/external/jquery-1.7.2.min.js')
    script(src='/js/external/jquery-ui-1.8.22.custom.min.js')
    link(rel='stylesheet', href='/css/login.css')
    
    title #{title}
  body
    b.vignette

    #heading
      //img(src="../img/aceditor.png")
      h1 #{title}
    div#box  
       div#login
        
        - if (message != "")
            p#error #{message}
        - else 
        form(method="post", action="/reset-password/#{userid}/#{verify}",id="reset-password-form")
         p
           label Contraseña: 
             br
             input(type='password', name='password')
         p
           label Confirmar contraseña:
             br
             input(type='password', name='confirm-password')
         P
           input(type='submit', id="login-button", value='Enviar')
